body {
  font-family: 'Arial', sans-serif;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("photo.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}



.site-header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 100px;
  width: 100px;
  cursor: pointer;
  top:40px;
  left:40px;
}

.form-container {
  background-color: rgba(34, 33, 33, 0.95);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(245, 244, 244, 0.7);
  width: 800px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 10rem;
  color: #f1f1f1;
}


form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #ccc;
}

form input[type="text"],
form input[type="number"], 
form input[type="email"],
form input[type="password"],
form select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #666565;
  border-radius: 8px;
  background-color: #141313;
  color: #fff;
  box-sizing: border-box;
  transition: 0.3s;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus {
  border-color: #74ebd5;
  box-shadow: 0 0 5px #74ebd5;
  outline: none;
}


form button {
  width: 100%;
  padding: 12px;
  background-color: #74ebd5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #232526;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #67d8c5;
}